h1
{
color: #8AC926;
background-color: #FF595E;
font-family: 'Roboto', sans-serif;
}

h2
{
color: #8AC926;
background-color: #FF595E;
font-family: 'Roboto', sans-serif;
}

a
{
    color:#FFCA3A;
    font-family: 'Roboto', sans-serif;
}

a:hover {
    color:#1982C4;
    background-color: #FF595E;
    text-decoration:underline;
}

a:visited {
    color:#1982C4;
    background-color: #FF595E;
}

p{
    color: #1982C4;
    background-color: #FF595E;
    font-family: 'Roboto Slab', serif;
    size: 2rem;
    font-size: 1.5rem;
}

body {
    color: #FF595E;
}

main {
    color: #FF595E;
}

header {
    color: #FF595E;
    display:block;
}

nav {
    color: #1982C4;
    background-color: #8AC926;
    position:sticky;
    top: 0;
    width: 100%;
}

ul {
    display:flex;
    flex-direction: row;
    height:100%;
    background-color: #8AC926;
    list-style: none;
    opacity: 0.75;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: space-evenly;
}

ol {
    display:flex;
    flex-direction: row;
    background-color: #8AC926;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: space-evenly;
}

.li1,
.li2,
.li3,
.li4,
.li5,
.li6,
.li7 {
    width: 150px;
    height: 85px;
    text-align: center;
    padding: 2rem;
    padding-top: 2.5rem;
    font-size: 150%;
    border-style: solid;
    border-width: medium;
}

.a1,
.a2 {
    text-align: center;
    font-size: 150%;
}

.linkinfo {
    font-size: 2rem;
}

#container {
    width: 95vw;
    height: 60vh;
    margin: 0 auto;
    border-style: solid;
    background-color: #FFCA3A;
    display: grid;
    grid-template-columns: [col-start] 1fr 
    [col2] 1fr;
    grid-template-rows: [row-start] 1fr
    [row2] 1fr;
    grid-gap: 10px;
    align-items: center;
    justify-items: stretch;

}

.par1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    color: #1982C4;
}

.img1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.img {
    width: 550px;
    height: 350px;
}

/*
The 4 colors palette:
#FF595E
#FFCA3A
#8AC926
#1982C4
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/