* {
    margin: 0;
    padding: 0;
    
}

header {
    background-color: palevioletred;
    display: flex;
    height: 100%;
    flex-direction: row;
}

nav {
    
    
}

h1 {
    padding: 2rem;
    justify-content: spa;
}

.one,
.two,
.three {
    padding: 2rem;
    padding-top: 2.5rem;
    font-size: 150%;

}


.one {
    /* background-color: #FFFF00; */
    border-color: #FFFF00;
    border-style: solid;
    border-width: medium;
}

.two {
    /* background-color: #FFFF00; */
    border-color: blue;
    border-style: solid;
    border-width: medium;
}


.three {
    /* background-color: #FFFF00; */
    border-color: green;
    border-style: solid;
    border-width: medium;
}



ul {
    display: flex;
    list-style: none;
    background-color: white;
    opacity: 0.8;
}